{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8" style="margin-top: 10px;">
        {% include 'messa.html' %}
        <h1 class="text-center" style="margin-bottom: 10px;">Sign In</h1>
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
            </div>
            
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="text-center" style="margin-top: 20px;">
            <button type="submit" class="btn btn-primary w-50">Submit</button>
            </div>
          </form>
      </div>
      
    </div>
    
  </div>


{% endblock %}